<div class="breadcrumb">
  <div class="container w-1000">
    <h2 class="text-center">{{ 'customer.account.title' | t }}</h2>
    <div class="link">
      <a href="/">TOP</a>
      >
      <span>{{ 'customer.account.title' | t }}</span>
    </div>
  </div>
</div>
<div class="container w-1200">
  <div class="row">
    <div class="col-12 large-3">
      <ul class="menu-acc">
        <li>{{ 'customer.orders.title' | t }}</li>
        <li><a href="{{ routes.account_addresses_url }}" class="btn btn--small">{{ 'customer.account.view_addresses' | t
            }}
            ({{ customer.addresses_count }})</a></li>
        <li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
      </ul>
    </div>

    <div class="col-12 large-9">
      <div class="text-left">
        <h2 class="tt-acc">{{ 'customer.orders.title' | t }}</h2>
      </div>

      <div class="myaccount__order-history">
        {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

        <table class="responsive-table">
          <thead>
            <tr>
              <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
              <th scope="col">{{ 'customer.orders.date' | t }}</th>
              <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
              <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th scope="col">{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
            <tr>
              <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small"
                  aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
              </th>
              <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
              <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
              <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
              <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% else %}

        <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate %}
        {%- endif -%}
        {% endpaginate %}
      </div>
    </div>
  </div>
</div>