<div class="breadcrumb">
    <div class="container w-1000">
        <h2 class="text-center">買い物カゴ</h2>
        <div class="link">
            <a href="/">TOP</a>
            >
            <span>買い物カゴ</span>
        </div>
    </div>
</div>
<div class="container w-1000">
    <div class="page-width" data-section-id="{{ section.id }}" data-section-type="cart-template" data-ajax-enabled="{{ section.settings.cart_ajax_enable }}">

        <div {% if cart.item_count == 0 %} class="hide" {% endif %} data-cart-wrapper>
            <div class="cart-header">
                <h1 class="cart-header__title">{{ 'cart.general.title' | t }}</h1>
                <a href="{{ routes.all_products_collection_url }}" class="text-link text-link--accent">
                    {{ 'cart.general.continue_shopping' | t }}
                </a>
            </div>

            <form action="{{ routes.cart_url }}" method="post" novalidate class="cart">
                <div data-cart-line-items>
                    {%- for item in cart.items -%}
                        <div class="cart__row">
                            <div class="image-box">
                                <div class="cart__image-wrapper">
                                    <img class="cart__image{% if item.image == null %} hide{% endif %}" src="{{ item | img_url: 'x190' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
                                </div>
                            </div>
                            <div class="title-box">
                                <a href="{{ item.url }}" class="cart__product-title" data-cart-item-title data-role="product-title">
                                    {{ item.product.title }}
                                </a>
                            </div>
                            <div class="quantity-box">
                                <span class="label">個数</span>
                                <input id="updates_{{ item.key }}" class="cart__qty-input" type="number" value="{{ item.quantity }}" min="0" pattern="[0-9]*" data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-mobile data-role="product-quantity-mobile">
                            </div>
                            <div class="final-price-box">
                                <span class="label">価格</span>
                                <span class="price-yen">{{ item.original_line_price | money }}</span>
                                <span class="vat_include">(税込)</span>
                            </div>
                            <div class="remove-box">
                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove data-role="product-remove">削除</a>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>

                <div class="cart__footer">
                    <div class="grid">
                        {%- if section.settings.cart_notes_enable -%}
                            <div class="grid__item medium-up--one-half cart-note">
                                <label class="cart-note__label small--text-center" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                                <textarea class="cart-note__input" data-cart-notes id="CartSpecialInstructions" name="note">{{ cart.note }}</textarea>
                            </div>
                        {%- endif -%}
                        <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">

                            {%- assign cartDiscounts = 'template ' | split: ' ' -%}
                            {%- if cart.cart_level_discount_applications.size > 0 -%}
                                {%- assign cartDiscounts = cart.cart_level_discount_applications -%}
                            {%- endif -%}
                            <div {% if cart.cart_level_discount_applications.size == 0 %} class="hide" {% endif %} data-cart-discount-wrapper>
                                <div class="order-discount-card-wrapper" data-cart-discount>
                                    {%- for discount_application in cartDiscounts -%}
                                        <span class="order-discount order-discount--title order-discount--cart">
                                            {% include 'icon-saletag' %}<span class="visually-hidden">{{ 'customer.order.discount' | t }}:</span>
                                            <span data-cart-discount-title>{{- discount_application.title -}}</span>
                                        </span>
                                        <span class="order-discount order-discount--cart order-discount--cart-total">
                                            -<span data-cart-discount-amount>{{ discount_application.total_allocated_amount | money }}</span>
                                        </span>
                                    {%- endfor -%}
                                </div>
                            </div>

                            <div class="cart-subtotal">
                                <span class="cart-subtotal__title">{{ 'cart.general.subtotal' | t }}</span>
                                <span class="cart-subtotal__price" data-cart-subtotal>{{ cart.total_price | money_with_currency }}</span>
                            </div>

                            {%- capture taxes_shipping_checkout -%}
                                {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                                    {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                {%- elsif cart.taxes_included -%}
                                    {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
                                {%- elsif shop.shipping_policy.body != blank -%}
                                    {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                                {%- else -%}
                                    {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
                                {%- endif -%}
                            {%- endcapture -%}
                            <div class="cart__shipping rte">{{ taxes_shipping_checkout }}</div>
                            <div class="cart__buttons-container">
                                <div class="cart__submit-controls">
                                    {%- unless section.settings.cart_ajax_enable -%}
                                        <input type="submit" name="update" class="cart__submit btn btn--secondary" value="{{ 'cart.general.update' | t }}">
                                    {%- endunless -%}
                                    <input type="submit" name="checkout" class="cart__submit btn btn--small-wide" value="{{ 'cart.general.checkout' | t }}">
                                </div>

                                <div class="cart__error-message-wrapper hide" data-cart-error-message-wrapper role="alert">
                                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }}
                                    </span>
                                    {% include 'icon-error' %}
                                    <span class="cart__error-message" data-cart-error-message></span>
                                </div>

                                {%- if additional_checkout_buttons -%}
                                    <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <p aria-live="polite" class="visually-hidden" data-cart-status role="status"></p>
        </div>

        <div class="empty-page-content{% if cart.item_count > 0 %} hide{% endif %} text-center" data-empty-page-content>
            <h1>{{ 'cart.general.title' | t }}</h1>
            <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
            <div class="cookie-message">
                <p>{{ 'cart.general.cookies_required' | t }}</p>
            </div>
            <a href="{{ routes.root_url }}" class="btn btn--has-icon-after cart__continue-btn">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
        </div>
    </div>
</div>
