<header class="pt-30">
    <div class="header-top">
        <div class="container w-1000">
            <div class="container-inner">
                <div class="row align-items-center">
                    <div class="col-12 large-6">
                        <div class="col-inner">
                            <a class="logo" href="/cart">
                                <img alt="" src="{{ 'logo.png' | asset_url }}">
                            </a>
                        </div>
                    </div>

                    <div class="col-12 large-6 text-right">
                        <div class="col-inner">
                            <a class="btn btn-cart color-white bgcl-2" href="/cart">
                                <i class="cart" height="25px" width="25px"></i>
                                <span>買い物カゴを見る・購入へ</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-middle pt-10 pb-120">
        <div class="container w-1100">
            <div class="container-inner">
                <ul class="nav nav-main">
                    <li class="menu-item">
                        <a class="text-center" href="/cart">
                            <img alt="" src="{{ 'icon-1.png' | asset_url }}">
                            <span>TOPへ</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="text-center" onclick="goBack()">
                            <img alt="" src="{{ 'icon-2.png' | asset_url }}">
                            <span>もどる</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="text-center" href="#">
                            <img alt="" src="{{ 'icon-3.png' | asset_url }}">
                            <span>購入履歴</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="text-center" href="#">
                            <img alt="" src="{{ 'icon-4.png' | asset_url }}">
                            <span>購入・取り消し</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>