<div class="product-template__container page-width" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" data-ajax-enabled="{{ settings.enable_ajax }}">
    {% comment %}
    Get first variant, or deep linked one
    {% endcomment %}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign product_image_zoom_size = '1024x1024' -%}
    {%- assign product_image_scale = '5' -%}
    {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
    {%- assign compare_at_price = current_variant.compare_at_price -%}
    {%- assign price = current_variant.price -%}

    {%- assign product_media_width = '' -%}
    {%- assign product_description_width = '' -%}
    {%- assign height = 1090 -%}
    {%- assign enable_image_zoom = false -%}

    <div class="breadcrumb">
        <div class="container w-1000">
            <h2 class="text-center">商品詳細</h2>
            <div class="link">
                <a href="/">TOP</a>
                >
                <span>商品詳細</span>
            </div>
        </div>
    </div>
    <div class="container w-1000">
        <div class="product-detail row row-large">
            <div class="image-box col-12 large-4">
                <div class="col-inner">
                    <a href="#">
                        {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

                        <img src="{{ featured_media | img_url: product_image_size }}" alt="{{ featured_media.alt }}">
                    </a>

                    <p class="product-cat">
                        {% for tag in product.tags %}
                            {{ tag }}
                        {% endfor %}
                    </p>
                </div>
            </div>

            <div class="text-box col-12 large-8">
                <div class="col-inner">
                    <h3 class="product-title">{{ product.title }}</h3>

                    <p class="product-description">{{ product.description }}</p>

                    <div class="box-order">
                        <div class="price">
                            <span class="price-yen">{{ product.price }}</span>
                            <span class="tax-include">(税込)</span>
                        </div>
                        <div class="detail-num-wrap">
                            <span class="detail-num-txt">個数</span>
                            <input class="product-form__input product-form__input--quantity" data-quantity-input id="Quantity-{{ section.id }}" min="1" name="quantity" pattern="[0-9]*" type="number" value="1">
                        </div>

                        <a class="btn btn-addcart" href="#">買い物カゴへ入れる</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
