<div class="product-template__container page-width" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" data-ajax-enabled="{{ settings.enable_ajax }}">
    {% comment %}
    Get first variant, or deep linked one
    {% endcomment %}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign product_image_zoom_size = '1024x1024' -%}
    {%- assign product_image_scale = '2' -%}
    {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
    {%- assign compare_at_price = current_variant.compare_at_price -%}
    {%- assign price = current_variant.price -%}

    {% case section.settings.media_size %}
        {% when 'small' %}
            {%- assign product_media_width = 'medium-up--one-third' -%}
            {%- assign product_description_width = 'medium-up--two-thirds' -%}
            {%- assign height = 345 -%}
        {% when 'medium' %}
            {%- assign product_media_width = 'medium-up--one-half' -%}
            {%- assign product_description_width = 'medium-up--one-half' -%}
            {%- assign height = 530 -%}
        {% when 'large' %}
            {%- assign product_media_width = 'medium-up--two-thirds' -%}
            {%- assign product_description_width = 'medium-up--one-third' -%}
            {%- assign height = 720 -%}
        {% when 'full' %}
            {%- assign product_media_width = '' -%}
            {%- assign product_description_width = '' -%}
            {%- assign height = 1090 -%}
            {%- assign enable_image_zoom = false -%}
    {% endcase %}

    <div class="breadcrumb">
        <div class="container w-1000">
            <h2 class="text-center">商品詳細</h2>
            <div class="link">
                <a href="/">TOP</a>
                >
                <span>商品詳細</span>
            </div>
        </div>
    </div>
    <div class="container w-1000">
        <div class="product-detail row row-large">
            <div class="image-box col-12 large-4">
                <div class="col-inner">
                    <a href="#">
                        <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: {{ height }}px;">
                    </a>

                    <p class="product-cat">写真はイメージです</p>
                </div>
            </div>

            <div class="text-box col-12 large-8">
                <div class="col-inner">
                    <h3 class="product-title">{{ product.title }}</h3>

                    <p class="product-description">{{ product.description }}</p>

                    <div class="box-order">
                        <div class="price">
                            <span class="price-yen">{% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}</span>
                            <span class="tax-include">(税込)</span>
                        </div>
                        <div class="detail-num-wrap">
                            <span class="detail-num-txt">個数</span>
                            <input class="product-form__input product-form__input--quantity" data-quantity-input id="Quantity-{{ section.id }}" min="1" name="quantity" pattern="[0-9]*" type="number" value="1">
                        </div>

                        <button type="submit" name="add" {% unless current_variant.available %} aria-disabled="true" {% endunless %} aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}" class="btn btn-addcart{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary-accent{% endif %}" {% if settings.enable_ajax %} aria-haspopup="dialog" {% endif %} data-add-to-cart>
                            <span data-add-to-cart-text>
                                {% unless current_variant.available %}
                                    {{ 'products.product.sold_out' | t }}
                                {% else %}
                                    買い物カゴへ入れる
                                {% endunless %}
                            </span>
                            <span class="hide" data-loader>
                                {% include 'icon-spinner' %}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
