<div class="product-tab">
    <ul class="nav nav-tab">
        <li class="menu-item">
            <a class="text-center active color-av-1" href="#tab_1">
                <i class="fish color-1"></i>
                <span>食品・<br/>グルメ</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-2" href="#tab_2">
                <i class="fruits color-2"></i>
                <span>フルーツ</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-3" href="#tab_3">
                <i class="drink color-3"></i>
                <span>飲料類</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-4" href="#tab_4">
                <i class="goods color-4"></i>
                <span>日用品・<br/>雑貨</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-5" href="#tab_5">
                <i class="interior color-5"></i>
                <span>インテリア・<br/>装飾品</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-6" href="#tab_6">
                <i class="wear color-6"></i>
                <span>衣料品</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="bdcl-1 tab-item active" id="tab_1">
            <h2 class="text-center title-tab-content color-1">食品・グルメ</h2>

            <div class="list-prooduct">
                {% for product in collections.food-gourmet.products %}
                    <div class="product-item row">
                        <div class="image-box col-12 large-3">
                            <div class="col-inner">
                                <a href="{{ product.url }}">
                                    <img alt="" src="{{ product | img_url: '450x450' }}">
                                </a>
                            </div>
                        </div>

                        <div class="text-box col-12 large-5">
                            <div class="col-inner">
                                <p class="product-cat">
                                    {% for tag in product.tags %}
                                        {{ tag }}
                                    {% endfor %}
                                </p>
                                <h3 class="product-title">
                                    <p>
                                        {% include 'price' with variant.price %}
                                    </p>
                                </h3>

                                <div class="price">
                                    <span class="price-yen">{{ product.price }}</span>
                                    <span class="tax-include">(税込)</span>
                                </div>
                                <div class="detail-num-wrap">
                                    <span class="detail-num-txt">個数</span>
                                    <input id="" name="" type="number" value="1">
                                </div>
                            </div>
                        </div>

                        <div class="text-box col-12 large-4">
                            <div class="col-inner">
                                <div class="btn-box">
                                    <a class="btn btn-readmore" href="{{ product.url }}">商品詳細へ</a>
                                    <a class="btn btn-addcart" href="#">買い物カゴへ入れる</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-2 tab-item" id="tab_2">
            <h2 class="text-center title-tab-content color-2">フルーツ</h2>

            <div class="list-prooduct">
                {% for product in collections.fruits.products %}
                    <div class="product-item row">
                        <div class="image-box col-12 large-3">
                            <div class="col-inner">
                                <a href="#">
                                    <img alt="" src="{{ product | img_url: '450x450' }}">
                                </a>
                            </div>
                        </div>

                        <div class="text-box col-12 large-5">
                            <div class="col-inner">
                                <p class="product-cat">
                                    {% for tag in product.tags %}
                                        {{ tag }}
                                    {% endfor %}
                                </p>
                                <h3 class="product-title">
                                    <p>{{ product.title }}</p>
                                </h3>

                                <div class="price">
                                    <span class="price-yen">{{ product.price }}</span>
                                    <span class="tax-include">(税込)</span>
                                </div>
                                <div class="detail-num-wrap">
                                    <span class="detail-num-txt">個数</span>
                                    <input id="" name="" type="number" value="1">
                                </div>
                            </div>
                        </div>

                        <div class="text-box col-12 large-4">
                            <div class="col-inner">
                                <div class="btn-box">
                                    <a class="btn btn-readmore" href="#">商品詳細へ</a>
                                    <a class="btn btn-addcart" href="#">買い物カゴへ入れる</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-3 tab-item" id="tab_3">
            <h2 class="text-center title-tab-content color-3">飲料類</h2>

            <div class="list-prooduct">
                {% for product in collections.beverages.products %}
                    <div class="product-item row">
                        <div class="image-box col-12 large-3">
                            <div class="col-inner">
                                <a href="#">
                                    <img alt="" src="{{ product | img_url: '450x450' }}">
                                </a>
                            </div>
                        </div>

                        <div class="text-box col-12 large-5">
                            <div class="col-inner">
                                <p class="product-cat">
                                    {% for tag in product.tags %}
                                        {{ tag }}
                                    {% endfor %}
                                </p>
                                <h3 class="product-title">
                                    <p>{{ product.title }}</p>
                                </h3>

                                <div class="price">
                                    <span class="price-yen">{{ product.price }}</span>
                                    <span class="tax-include">(税込)</span>
                                </div>
                                <div class="detail-num-wrap">
                                    <span class="detail-num-txt">個数</span>
                                    <input id="" name="" type="number" value="1">
                                </div>
                            </div>
                        </div>

                        <div class="text-box col-12 large-4">
                            <div class="col-inner">
                                <div class="btn-box">
                                    <a class="btn btn-readmore" href="#">商品詳細へ</a>
                                    <a class="btn btn-addcart" href="#">買い物カゴへ入れる</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-4 tab-item" id="tab_4">
            <h2 class="text-center title-tab-content color-4">日用品・雑貨</h2>

            <div class="list-prooduct">
                {% for product in collections.necessities-miscellaneous.products %}
                    <div class="product-item row">
                        <div class="image-box col-12 large-3">
                            <div class="col-inner">
                                <a href="#">
                                    <img alt="" src="{{ product | img_url: '450x450' }}">
                                </a>
                            </div>
                        </div>

                        <div class="text-box col-12 large-5">
                            <div class="col-inner">
                                <p class="product-cat">
                                    {% for tag in product.tags %}
                                        {{ tag }}
                                    {% endfor %}
                                </p>
                                <h3 class="product-title">
                                    <p>{{ product.title }}</p>
                                </h3>

                                <div class="price">
                                    <span class="price-yen">{{ product.price }}</span>
                                    <span class="tax-include">(税込)</span>
                                </div>
                                <div class="detail-num-wrap">
                                    <span class="detail-num-txt">個数</span>
                                    <input id="" name="" type="number" value="1">
                                </div>
                            </div>
                        </div>

                        <div class="text-box col-12 large-4">
                            <div class="col-inner">
                                <div class="btn-box">
                                    <a class="btn btn-readmore" href="#">商品詳細へ</a>
                                    <a class="btn btn-addcart" href="#">買い物カゴへ入れる</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-5 tab-item" id="tab_5">
            <h2 class="text-center title-tab-content color-5">インテリア・装飾品</h2>

            <div class="list-prooduct">
                {% for product in collections.interior-decoration.products %}
                    <div class="product-item row">
                        <div class="image-box col-12 large-3">
                            <div class="col-inner">
                                <a href="#">
                                    <img alt="" src="{{ product | img_url: '450x450' }}">
                                </a>
                            </div>
                        </div>

                        <div class="text-box col-12 large-5">
                            <div class="col-inner">
                                <p class="product-cat">
                                    {% for tag in product.tags %}
                                        {{ tag }}
                                    {% endfor %}
                                </p>
                                <h3 class="product-title">
                                    <p>{{ product.title }}</p>
                                </h3>

                                <div class="price">
                                    <span class="price-yen">{{ product.price }}</span>
                                    <span class="tax-include">(税込)</span>
                                </div>
                                <div class="detail-num-wrap">
                                    <span class="detail-num-txt">個数</span>
                                    <input id="" name="" type="number" value="1">
                                </div>
                            </div>
                        </div>

                        <div class="text-box col-12 large-4">
                            <div class="col-inner">
                                <div class="btn-box">
                                    <a class="btn btn-readmore" href="#">商品詳細へ</a>
                                    <a class="btn btn-addcart" href="#">買い物カゴへ入れる</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-6 tab-item" id="tab_6">
            <h2 class="text-center title-tab-content color-6">衣料品</h2>

            <div class="list-prooduct">
                {% for product in collections.clothing.products %}
                    <div class="product-item row">
                        <div class="image-box col-12 large-3">
                            <div class="col-inner">
                                <a href="{{ product.url }}">
                                    <img alt="" src="{{ product | img_url: '450x450' }}">
                                </a>
                            </div>
                        </div>

                        <div class="text-box col-12 large-5">
                            <div class="col-inner">
                                <p class="product-cat">
                                    {% for tag in product.tags %}
                                        {{ tag }}
                                    {% endfor %}
                                </p>
                                <a href="{{ product.url }}">
                                    <h3 class="product-title">
                                        <p>{{ product.title }}</p>
                                    </h3>
                                </a>

                                <div class="price">
                                    <span class="price-yen">{{ product.price }}</span>
                                    <span class="tax-include">(税込)</span>
                                </div>
                                <div class="detail-num-wrap">
                                    <span class="detail-num-txt">個数</span>
                                    <input id="" name="" type="number" value="1">
                                </div>
                            </div>
                        </div>

                        <div class="text-box col-12 large-4">
                            <div class="col-inner">
                                <div class="btn-box">
                                    <a class="btn btn-readmore" href="{{ product.url }}">商品詳細へ</a>
                                    <a class="btn btn-addcart" href="#">買い物カゴへ入れる</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>