<div class="product-tab">
    <ul class="nav nav-tab sm-hide">
        <li class="paging">
            <a class="paging-btn prev" href="#">
                <span>前へ</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center active color-av-1" href="#tab_1">
                <i class="fish color-1"></i>
                <span>食品・<br />グルメ</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-2" href="#tab_2">
                <i class="fruits color-2"></i>
                <span>フルーツ</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-3" href="#tab_3">
                <i class="drink color-3"></i>
                <span>飲料類</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-4" href="#tab_4">
                <i class="goods color-4"></i>
                <span>日用品・<br />雑貨</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-5" href="#tab_5">
                <i class="interior color-5"></i>
                <span>インテリア・<br />装飾品</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="text-center color-av-6" href="#tab_6">
                <i class="wear color-6"></i>
                <span>衣料品</span>
            </a>
        </li>
        <li class="paging">
            <a class="paging-btn next" href="#">
                <span>次へ</span>
            </a>
        </li>
    </ul>

    <div class="tab_mobile text-center sm-only">
        <label for="">商品カテゴリを選択してください</label>
        <select id="nav-tab" name="nav-tab">
            <option value="tab_1">食品・グルメ</option>
            <option value="tab_2">フルーツ</option>
            <option value="tab_3">飲料類</option>
            <option value="tab_4">日用品・雑貨</option>
            <option value="tab_5">インテリア・装飾品</option>
            <option value="tab_6">衣料品</option>
        </select>
    </div>

    <div class="tab-content">
        <div class="bdcl-1 tab-item active" id="tab_1">
            <h2 class="text-center title-tab-content color-1">食品・グルメ</h2>

            <div class="list-prooduct">
                {% for product in collections.food-gourmet.products %}
                <div class="product-item row">
                    <div class="image-box col-5 large-3">
                        <div class="col-inner">
                            <a href="{{ product.url }}">
                                <img alt="" src="{{ product | img_url: '450x450' }}">
                            </a>

                            <p class="product-cat">
                               写真はイメージです
                            </p>
                        </div>
                    </div>

                    <div class="text-box col-7 large-5">
                        <div class="col-inner">
                            <p class="product-cat sm-hide">写真はイメージです。</p>
                            <h3 class="product-title">
                                <p>{{ product.title }}</p>
                            </h3>
                            <div class="price">
                                <span class="price-yen">
                                    {% if on_sale %}
                                    <span class="visually-hidden">{{ "products.product.sale_price" | t }}</span>
                                    {% else %}
                                    <span class="visually-hidden">{{ "products.product.regular_price" | t }}</span>
                                    {% endif %}
                                    {% include 'price' with product.price %}
                                    {% if on_sale and section.settings.product_show_compare_at_price %}
                                    <small>
                                        <s>
                                            <span class="visually-hidden">{{ "products.product.regular_price" | t
                                                }}</span>
                                            {% include 'price' with product.compare_at_price %}
                                        </s>
                                    </small>
                                    {% endif %}
                                </span>
                                <span class="tax-include">(税込)</span>
                            </div>
                            <div class="detail-num-wrap">
                                <span class="detail-num-txt">個数</span>
                                <select class="product-{{ product.variants.first.id }}-quantity" name="quantity">
                                    <option value="1" selected="">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="text-box col-12 large-4">
                        <div class="col-inner">
                            <div class="btn-box">
                                <a class="btn btn-readmore" href="{{ product.url }}">商品詳細へ</a>
                                <a class="btn btn-addcart" product="{{ product.variants.first.id }}">カゴへ入れる</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-2 tab-item" id="tab_2">
            <h2 class="text-center title-tab-content color-2">フルーツ</h2>

            <div class="list-prooduct">
                {% for product in collections.fruits.products %}
                <div class="product-item row">
                    <div class="image-box col-5 large-3">
                        <div class="col-inner">
                            <a href="{{ product.url }}">
                                <img alt="" src="{{ product | img_url: '450x450' }}">
                            </a>

                            <p class="product-cat">
                               写真はイメージです
                            </p>
                        </div>
                    </div>

                    <div class="text-box col-7 large-5">
                        <div class="col-inner">
                            <p class="product-cat sm-hide">
                                写真はイメージです
                            </p>
                            <h3 class="product-title">
                                <p>{{ product.title }}</p>
                            </h3>
                            <div class="price">
                                <span class="price-yen">
                                    {% if on_sale %}
                                    <span class="visually-hidden">{{ "products.product.sale_price" | t }}</span>
                                    {% else %}
                                    <span class="visually-hidden">{{ "products.product.regular_price" | t }}</span>
                                    {% endif %}
                                    {% include 'price' with product.price %}
                                    {% if on_sale and section.settings.product_show_compare_at_price %}
                                    <small>
                                        <s>
                                            <span class="visually-hidden">{{ "products.product.regular_price" | t
                                                }}</span>
                                            {% include 'price' with product.compare_at_price %}
                                        </s>
                                    </small>
                                    {% endif %}
                                </span>
                                <span class="tax-include">(税込)</span>
                            </div>
                            <div class="detail-num-wrap">
                                <span class="detail-num-txt">個数</span>
                                <input class="product-{{ product.variants.first.id }}-quantity" min="1" name="quantity"
                                    pattern="[0-9]*" type="number" value="1">
                            </div>
                        </div>
                    </div>

                    <div class="text-box col-12 large-4">
                        <div class="col-inner">
                            <div class="btn-box">
                                <a class="btn btn-readmore" href="{{ product.url }}">商品詳細へ</a>
                                <a class="btn btn-addcart" product="{{ product.variants.first.id }}">カゴへ入れる</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-3 tab-item" id="tab_3">
            <h2 class="text-center title-tab-content color-3">飲料類</h2>

            <div class="list-prooduct">
                {% for product in collections.beverages.products %}
                <div class="product-item row">
                    <div class="image-box col-5 large-3">
                        <div class="col-inner">
                            <a href="{{ product.url }}">
                                <img alt="" src="{{ product | img_url: '450x450' }}">
                            </a>

                            <p class="product-cat">
                                写真はイメージです
                            </p>
                        </div>
                    </div>

                    <div class="text-box col-7 large-5">
                        <div class="col-inner">
                            <p class="product-cat sm-hide">
                                写真はイメージです
                            </p>
                            <h3 class="product-title">
                                <p>{{ product.title }}</p>
                            </h3>
                            <div class="price">
                                <span class="price-yen">
                                    {% if on_sale %}
                                    <span class="visually-hidden">{{ "products.product.sale_price" | t }}</span>
                                    {% else %}
                                    <span class="visually-hidden">{{ "products.product.regular_price" | t }}</span>
                                    {% endif %}
                                    {% include 'price' with product.price %}
                                    {% if on_sale and section.settings.product_show_compare_at_price %}
                                    <small>
                                        <s>
                                            <span class="visually-hidden">{{ "products.product.regular_price" | t
                                                }}</span>
                                            {% include 'price' with product.compare_at_price %}
                                        </s>
                                    </small>
                                    {% endif %}
                                </span>
                                <span class="tax-include">(税込)</span>
                            </div>
                            <div class="detail-num-wrap">
                                <span class="detail-num-txt">個数</span>
                                <input class="product-{{ product.variants.first.id }}-quantity" min="1" name="quantity"
                                    pattern="[0-9]*" type="number" value="1">
                            </div>
                        </div>
                    </div>

                    <div class="text-box col-12 large-4">
                        <div class="col-inner">
                            <div class="btn-box">
                                <a class="btn btn-readmore" href="{{ product.url }}">商品詳細へ</a>
                                <a class="btn btn-addcart" product="{{ product.variants.first.id }}">カゴへ入れる</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-4 tab-item" id="tab_4">
            <h2 class="text-center title-tab-content color-4">日用品・雑貨</h2>

            <div class="list-prooduct">
                {% for product in collections.necessities-miscellaneous.products %}
                <div class="product-item row">
                    <div class="image-box col-5 large-3">
                        <div class="col-inner">
                            <a href="{{ product.url }}">
                                <img alt="" src="{{ product | img_url: '450x450' }}">
                            </a>

                            <p class="product-cat">
                                写真はイメージです
                            </p>
                        </div>
                    </div>

                    <div class="text-box col-7 large-5">
                        <div class="col-inner">
                            <p class="product-cat sm-hide">
                                写真はイメージです
                            </p>
                            <h3 class="product-title">
                                <p>{{ product.title }}</p>
                            </h3>
                            <div class="price">
                                <span class="price-yen">
                                    {% if on_sale %}
                                    <span class="visually-hidden">{{ "products.product.sale_price" | t }}</span>
                                    {% else %}
                                    <span class="visually-hidden">{{ "products.product.regular_price" | t }}</span>
                                    {% endif %}
                                    {% include 'price' with product.price %}
                                    {% if on_sale and section.settings.product_show_compare_at_price %}
                                    <small>
                                        <s>
                                            <span class="visually-hidden">{{ "products.product.regular_price" | t
                                                }}</span>
                                            {% include 'price' with product.compare_at_price %}
                                        </s>
                                    </small>
                                    {% endif %}
                                </span>
                                <span class="tax-include">(税込)</span>
                            </div>
                            <div class="detail-num-wrap">
                                <span class="detail-num-txt">個数</span>
                                <input class="product-{{ product.variants.first.id }}-quantity" min="1" name="quantity"
                                    pattern="[0-9]*" type="number" value="1">
                            </div>
                        </div>
                    </div>

                    <div class="text-box col-12 large-4">
                        <div class="col-inner">
                            <div class="btn-box">
                                <a class="btn btn-readmore" href="{{ product.url }}">商品詳細へ</a>
                                <a class="btn btn-addcart" product="{{ product.variants.first.id }}">カゴへ入れる</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-5 tab-item" id="tab_5">
            <h2 class="text-center title-tab-content color-5">インテリア・装飾品</h2>

            <div class="list-prooduct">
                {% for product in collections.interior-decoration.products %}
                <div class="product-item row">
                    <div class="image-box col-5 large-3">
                        <div class="col-inner">
                            <a href="{{ product.url }}">
                                <img alt="" src="{{ product | img_url: '450x450' }}">
                            </a>

                            <p class="product-cat">
                                写真はイメージです
                            </p>
                        </div>
                    </div>

                    <div class="text-box col-7 large-5">
                        <div class="col-inner">
                            <p class="product-cat sm-hide">
                                写真はイメージです
                            </p>
                            <h3 class="product-title">
                                <p>{{ product.title }}</p>
                            </h3>
                            <div class="price">
                                <span class="price-yen">
                                    {% if on_sale %}
                                    <span class="visually-hidden">{{ "products.product.sale_price" | t }}</span>
                                    {% else %}
                                    <span class="visually-hidden">{{ "products.product.regular_price" | t }}</span>
                                    {% endif %}
                                    {% include 'price' with product.price %}
                                    {% if on_sale and section.settings.product_show_compare_at_price %}
                                    <small>
                                        <s>
                                            <span class="visually-hidden">{{ "products.product.regular_price" | t
                                                }}</span>
                                            {% include 'price' with product.compare_at_price %}
                                        </s>
                                    </small>
                                    {% endif %}
                                </span>
                                <span class="tax-include">(税込)</span>
                            </div>
                            <div class="detail-num-wrap">
                                <span class="detail-num-txt">個数</span>
                                <input class="product-{{ product.variants.first.id }}-quantity" min="1" name="quantity"
                                    pattern="[0-9]*" type="number" value="1">
                            </div>
                        </div>
                    </div>

                    <div class="text-box col-12 large-4">
                        <div class="col-inner">
                            <div class="btn-box">
                                <a class="btn btn-readmore" href="{{ product.url }}">商品詳細へ</a>
                                <a class="btn btn-addcart" product="{{ product.variants.first.id }}">カゴへ入れる</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="bdcl-6 tab-item" id="tab_6">
            <h2 class="text-center title-tab-content color-6">衣料品</h2>

            <div class="list-prooduct">
                {% for product in collections.clothing.products %}
                <div class="product-item row">
                    <div class="image-box col-5 large-3">
                        <div class="col-inner">
                            <a href="{{ product.url }}">
                                <img alt="" src="{{ product | img_url: '450x450' }}">
                            </a>

                            <p class="product-cat">
                                写真はイメージです
                            </p>
                        </div>
                    </div>

                    <div class="text-box col-7 large-5">
                        <div class="col-inner">
                            <p class="product-cat sm-hide">
                               写真はイメージです
                            </p>
                            <h3 class="product-title">
                                <p>{{ product.title }}</p>
                            </h3>
                            <div class="price">
                                <span class="price-yen">
                                    {% if on_sale %}
                                    <span class="visually-hidden">{{ "products.product.sale_price" | t }}</span>
                                    {% else %}
                                    <span class="visually-hidden">{{ "products.product.regular_price" | t }}</span>
                                    {% endif %}
                                    {% include 'price' with product.price %}
                                    {% if on_sale and section.settings.product_show_compare_at_price %}
                                    <small>
                                        <s>
                                            <span class="visually-hidden">{{ "products.product.regular_price" | t
                                                }}</span>
                                            {% include 'price' with product.compare_at_price %}
                                        </s>
                                    </small>
                                    {% endif %}
                                </span>
                                <span class="tax-include">(税込)</span>
                            </div>
                            <div class="detail-num-wrap">
                                <span class="detail-num-txt">個数</span>
                                <input class="product-{{ product.variants.first.id }}-quantity" min="1" name="quantity"
                                    pattern="[0-9]*" type="number" value="1">
                            </div>
                        </div>
                    </div>

                    <div class="text-box col-12 large-4">
                        <div class="col-inner">
                            <div class="btn-box">
                                <a class="btn btn-readmore" href="{{ product.url }}">商品詳細へ</a>
                                <a class="btn btn-addcart" product="{{ product.variants.first.id }}">カゴへ入れる</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="sidebar">
    <div class="sidebar-hearder">
        <p>TV画面が入ります</p>
    </div>

    <div class="cart-box">
        <div class="title-box">
            <img alt="" src="">
            <span>買い物カゴ</span>
        </div>
        <p class="des">購入手続き・変更はリモコンの<span style="color: #ec1c24;">赤</span>ボタンを押してください</p>

        <div class="list">
            <form id="CartDrawer" action="{{ routes.cart_url }}" class="cart-drawer critical-hidden" method="post"
                novalidate>
                <div class="cart-drawer__content">
                    <div class="cart-list row row-xsmall">
                        {% for item in cart.items %}
                        <div class="cart-item col-12 large-3">
                            <div class="image-box">
                                <img srcset="{{ item.image | img_url: '90x' }}" src="{{ item | img_url: '90x' }}"
                                    alt="{{ item.image.alt | escape }}">
                            </div>

                            <div class="detail-num-wrap">
                                <span class="detail-num-txt">個数</span>

                                <select id="quantity_{{ item.key }}" class="form__input cart-drawer__input num-quantity"
                                    aria-label="{{ 'cart.general.item_quantity' | t }}" data-cart-item-quantity>
                                    <option value="1" {% if item.quantity==1 %} selected {% endif %}>1</option>
                                    <option value="2" {% if item.quantity==2 %} selected {% endif %}>2</option>
                                    <option value="3" {% if item.quantity==3 %} selected {% endif %}>3</option>
                                    <option value="4" {% if item.quantity==4 %} selected {% endif %}>4</option>
                                    <option value="5" {% if item.quantity==5 %} selected {% endif %}>5</option>
                                    <option value="6" {% if item.quantity==6 %} selected {% endif %}>6</option>
                                    <option value="7" {% if item.quantity==7 %} selected {% endif %}>7</option>
                                    <option value="8" {% if item.quantity==8 %} selected {% endif %}>8</option>
                                    <option value="9" {% if item.quantity==9 %} selected {% endif %}>9</option>
                                    <option value="10" {% if item.quantity==10 %} selected {% endif %}>10</option>
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    {% if settings.show_cart_note %}
                    <div class="cart-drawer__note-wrapper">
                        <label class="cart__note-label" for="Note">{{ 'cart.general.note' | t }}</label>
                        <textarea class="cart__note" data-cart-note id="Note" name="note">{{ cart.note }}</textarea>
                    </div>
                    {% endif %}
                </div>

                <div class="cart-drawer__footer">
                    <div class="cart-drawer__totals">
                        <h3 class="cart-drawer__subtotal">{{ 'cart.general.subtotal' | t }}</h3>
                        <p class="cart-drawer__subtotal-value" data-cart-price>{{ cart.total_price | money }}</p>
                        <p aria-live="polite" class="visually-hidden" data-price-live-region role="status"></p>
                    </div>

                    <div data-discounts>
                        {% unless cart.cart_level_discount_applications.size == 0 %}
                        <ul class="cart__discounts cart-drawer__discounts" role="list">
                            {% for discount in cart.cart_level_discount_applications %}
                            <li>
                                {% render 'icon-discount' %}
                                {{ discount.title }}
                                (-{{ discount.total_allocated_amount | money }})
                            </li>
                            {% endfor %}
                        </ul>
                        {% endunless %}
                    </div>

                    <div class="center">
                        <button type="submit" class="button" name="checkout" data-checkout-button {% if
                            cart.items.size==0 %} disabled {% endif %}>
                            {{ 'cart.general.checkout' | t }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>