<div class="breadcrumb">
  <div class="container w-1000">
    <h2 class="text-center page-title">{{ page.title }}</h2>
    <div class="link">
      <a href="/">TOP</a>
      >
      <span>{{ page.title }}</span>
    </div>
  </div>
</div>
<div class="container w-1200 page-content">
  <div class="row">
    <div class="col-12 large-6">
      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
        {% include 'form-status', form: form, form_id: formId %}

        <div class="row">
          <div class="col-12 large-12">
            <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]"
              value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>

          <div class="col-12 large-6">
            <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            <input type="email" id="{{ formId }}-email" name="contact[email]" autocorrect="off" autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true" {%- if form.errors contains 'email' -%} class="input--error" aria-invalid="true"
              aria-describedby="{{ formId }}-email-error" {%- endif -%}>
            {%- if form.errors contains 'email' -%}
            <span id="{{ formId}}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email']
                }}.</span>
            </span>
            {%- endif -%}
          </div>

          <div class="col-12 large-6">
            <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*"
              value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          </div>

          <div class="col-12 large-12">
            <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="{{ formId }}-message"
              name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
          </div>

          <div class="col-12 large-12">
            <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">
          </div>
        </div>
        {% endform %}
      </div>
    </div>

    <div class="col-12 large-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211914.5168692281!2d133.20436166177106!3d33.91117005977097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3551c59e9a2f543f%3A0x343605f324c46bc!2z5pel5pys44CB5oSb5aqb55yM5paw5bGF5rWc5biC!5e0!3m2!1sja!2s!4v1628523426929!5m2!1sja!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>